<div class="main-content">
  <div class="container-fluid">
    <div id="loader" *ngIf="obvArr?.length == 0">
      <img src="assets/img/loader-preview.svg" alt="loading">
    </div>
    <div class="row" *ngIf="obvArr?.length != 0">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Observations</h4>

          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <!-- <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th> -->
                  <th>Id</th>
                  <th>Grower</th>
                  <th >Inspector/Psi</th>
                  <th >Crop</th>
                  <th >Variety</th>
                  <th >Class of seed</th>
                  <th>Status</th>
                  <th  style="cursor:pointer;" (click)="toogleArrow(arrow)">Observed Date
                      <i class="fas fa-chevron-up" *ngIf="arrow"></i>
                      <i class="fas fa-chevron-down" *ngIf="!arrow"></i>
                  </th>
                  <th></th>
                </tr>
                
              </thead>
              <!-- data-toggle="modal" data-target="#exampleModal" -->
              <tbody>
                <tr *ngFor="let obv of obvArr | reverse:arrow">
                  <td>{{obv.ID}}</td>
                  <td>{{obv.InspectionRegistration.GrowerName}}</td>
                  <td>{{obv.InspectionRegistration.InspectorName}}</td>
                  <td>{{obv.InspectionRegistration.ProductCategory.ProductCategoryName}}</td>
                  <td>{{obv.InspectionRegistration.Product.ProductName}}</td>
                  <td>{{obv.InspectionRegistration.ProductClass.ClassName}}</td>
                  <td>{{obv.Status}}</td>
                  <td>{{obv.CreatedAt | date:'dd/MM/yyyy'}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="selectObv(obv)" data-toggle="modal" data-target="#exampleModal">view</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Observation Details </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="Obv" style="font-size: 15px;margin: 1px;letter-spacing: 1px;">

        <div class="row obv-modal">
          <div class="col-md-7">
            Observation Id
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.ID}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Maximum % Off-types
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.OffTypePlants ? Obv?.OffTypePlants : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Pest Disease Score
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.PestDiseaseScore ? Obv?.PestDiseaseScore : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Planting Pattern
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.PlantingPattern ? Obv?.PlantingPattern : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Pollinating Females
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.PollinatingFemales ? Obv?.PollinatingFemales : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Female Receptive Silks
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.FemaleReceptiveSilks ? Obv?.FemaleReceptiveSilks : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Male Elimination
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.MaleElimination ? Obv?.MaleElimination : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Off-Type Cobs
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.OffTypeCobs ? Obv?.OffTypeCobs : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Defective Cobs
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.DefectiveCobs ? Obv?.DefectiveCobs : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Remarks By Inspector
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.RemarksByInspector ? Obv?.RemarksByInspector : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Recommendation For Grower
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.RecommendationForGrower ? Obv?.RecommendationForGrower : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Crop Stage
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.CropStage ? Obv?.CropStage : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Isolation Distance Maintained
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.IsIsolationDistanceMaintained ? 'Yes' : 'No'}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Growth Condition
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.GrowthCondition ? Obv?.GrowthCondition : "NA"}}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Date Of Sowing
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.DateOfSowing ? Obv?.DateOfSowing : "NA" }}
          </div>
        </div>

        <div class="row obv-modal">
          <div class="col-md-7">
            Recommendation for certification
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.RecommendationForCertification ? 'Yes' : 'No'}}
          </div>
        </div>



        <div class="row obv-modal">
          <div class="col-md-7">
            Status
            <div class="floatRight">:
            </div>
          </div>
          <div class="col-md-5">
            {{Obv?.Status}}
          </div>
        </div>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>