.main-panel .main-content {
    padding: 30px 15px;
    min-height: calc(100vh - 136px);
}


select{
    background: transparent;
    width: 230px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
}