<div class="main-content">
    <div class="container-fluid">
        <!-- <div id="loader" *ngIf="filterdStats?.length == 0">
            <img src="assets/img/loader-preview.svg" alt="loading">
        </div> -->

        <div *ngIf="role == 2">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <google-chart [data]="tlpieChartData"></google-chart>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <google-chart [data]="tlDonutChartData"></google-chart>
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <google-chart [data]="tlBarChartData"></google-chart>
                </div>
            </div>

        </div>


        <div *ngIf="role == 1">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <google-chart class="googleChart" [data]="adminBarChartDataForDistrict"></google-chart>
                </div>
               
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <google-chart class="googleChart" [data]="adminpieChartData"></google-chart>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <google-chart class="googleChart" [data]="adminBarChartData"></google-chart>
                </div>
            </div>
            <br>
        </div>

        <div *ngIf="role == 3">
            <div class="row">
                <div class="col-md-12">
                    <google-chart [data]="psiBarChartDataForDistrict"></google-chart>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <google-chart [data]="psiPieChartDataForDistrict"></google-chart>
                </div>
            </div>
        </div>

        <div *ngIf="role == 4">
           
            <div class="row">
                <div class="col-md-6">
                    <google-chart [data]="growerPieChartDataForDistrict"></google-chart>
                </div>
                <div class="col-md-6">
                    <google-chart [data]="growerpieChartData"></google-chart>
                </div>
            </div>
        </div>

    </div>
</div>