.sidebar,
.bootstrap-navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 5;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
    .sidebar-wrapper {
        position: relative;
        max-height: calc(100vh - 75px);
        min-height: 100%;
        overflow: hidden;
        width: 260px;
        z-index: 4;
        padding-bottom: 75px;
        .dropdown .dropdown-backdrop {
            display: none !important;
        }
    }
    .sidebar-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
    }
    .logo {
        padding: $navbar-padding-a;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        p {
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .simple-text {
            text-transform: uppercase;
            padding: $padding-small-vertical $padding-zero;
            display: block;
            font-size: $font-size-large;
            color: $white-color;
            text-align: left;
            font-weight: $font-weight-normal;
            line-height: 30px;
        }
    }
    .logo-img {
        width: 30px;
        display: inline-block;
        max-height: 30px;
        margin-right: 10px;
        img {
            width: 35px;
            top: 11px;
            position: absolute;
        }
    }
    .logo-tim {
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;
        img {
            width: 60px;
            height: 60px;
        }
    }
    .nav {
        margin-top: 0px;
        float: none;
        li {
            >a {
                color: #FFFFFF;
                margin: 5px 15px;
                opacity: .86;
                border-radius: 4px;
                display: block;
            }
            &:hover>a {
                background: rgba(255, 255, 255, 0.13);
                opacity: 1;
            }
            &.active>a {
                color: #FFFFFF;
                opacity: 1;
                background: rgba(255, 255, 255, 0.23);
            }
            a.dropdown-toggle {
                background-color: transparent;
                outline: none;
            }
            &.separator {
                margin: 15px 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                &+li {
                    margin-top: 31px;
                }
            }
        }
        p {
            margin: 0;
            line-height: 30px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            margin-left: 45px;
            color: $white-color;
        }
        i {
            font-size: 28px;
            float: left;
            margin-right: 15px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            color: $white-color;
        }
        .caret {
            margin-top: 13px;
            position: absolute;
            right: 30px;
        }
    }
    .logo {
        padding: $navbar-padding-a;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        p {
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .simple-text {
            text-transform: uppercase;
            padding: 5px 0px 5px 15px;
            display: block;
            font-size: $font-size-large;
            color: $white-color;
            text-align: left;
            font-weight: $font-weight-normal;
            line-height: 30px;
        }
    }
    .logo-tim {
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;
        img {
            width: 60px;
            height: 60px;
        }
    }
    &:after,
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &:before {
        opacity: .33;
        background: #000000;
    }
    &:after {
        @include icon-gradient($black-color-top, $black-color-bottom);
        z-index: 3;
        opacity: 1;
    }
    &[data-image]:after,
    &.has-image:after {
        opacity: .77;
    }
    &[data-color="blue"]:after {
        @include icon-gradient($new-dark-blue, $blue-color-bottom);
    }
    &[data-color="azure"]:after {
        @include icon-gradient($new-blue, $azure-color-bottom);
    }
    &[data-color="green"]:after {
        @include icon-gradient($new-green, $green-color-bottom);
    }
    &[data-color="orange"]:after {
        @include icon-gradient($new-orange, $orange-color-bottom);
    }
    &[data-color="red"]:after {
        @include icon-gradient($new-red, $red-color-bottom);
    }
    &[data-color="purple"]:after {
        @include icon-gradient($new-purple, $purple-color-bottom);
    }
}

.main-panel {
    background: rgba(203, 203, 210, .15);
    position: relative;
    z-index: 2;
    float: right;
    width: $sidebar-width;
    min-height: 100%;
    overflow: auto;
    .main-content {
        padding: 30px 15px;
        min-height: calc(100% - 123px);
    }
    >.footer {
        border-top: 1px solid #e7e7e7;
    }
    .navbar {
        margin-bottom: 0;
    }
}

.sidebar,
.main-panel,
.sidebar-wrapper,
.navbar-cmp-fixed .navbar {
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: .2s, .2s, .35s;
    transition-duration: .2s, .2s, .35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
}

.main-panel {
    max-height: 100%;
    height: 100%;
}

.indentation {
    margin-left: 20px;
}

.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.full-page:before {
    opacity: .33;
    background: #000000;
}

.full-page:after,
.full-page:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.full-page[data-color="green"]:after {
    // background: #FB404B;
    // background: -moz-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.6) 100%);
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB404B), color-stop(100%, rgba(187, 5, 2, 0.6)));
    // background: -webkit-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.6) 100%);
    // background: -o-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.6) 100%);
    // background: -ms-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.6) 100%);
    // background: linear-gradient(to bottom, #FB404B 0%, rgba(187, 5, 2, 0.6) 100%);
    // background-size: 150% 150%;
    background: #87CB16;
    background: -moz-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87CB16), color-stop(100%, rgba(109, 192, 48, 0.7)));
    background: -webkit-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -o-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -ms-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: linear-gradient(to bottom, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background-size: 150% 150%;
}

.sidebar[data-color="green"]:after {
    background: #87CB16;
    background: -moz-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87CB16), color-stop(100%, rgba(109, 192, 48, 0.7)));
    background: -webkit-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -o-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -ms-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: linear-gradient(to bottom, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background-size: 150% 150%;
}

.full-page[data-image]:after,
.full-page.has-image:after {
    opacity: .9;
}

.full-page:after {
    background: #787878;
    background: -moz-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, rgba(52, 52, 52, 0.4)));
    background: -webkit-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background: -o-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background: -ms-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background: linear-gradient(to bottom, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}

.full-page:after,
.full-page:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.login-page>.content,
.lock-page>.content {
    padding-top: 22vh;
}

.full-page>.content {
    min-height: calc(100vh - 70px);
}

.full-page>.content,
.full-page>.footer {
    position: relative;
    z-index: 4;
}

.container {
    width: 1170px;
}

.login-page .card {
    box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4);
    border-radius: 10px;
    padding: 15px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.animation-transition-general,
.login-page .card {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

// .login-page .card .header {
//     padding-bottom: 30px;
// }
.card .header {
    padding: 15px 15px 0px;
    color: #333333;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 22px;
}

.text-center {
    text-align: center;
}

.text-center {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.card .form-group>label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.card .form-group>label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card .footer {
    padding: 0 15px 10px !important;
    background-color: transparent !important;
    line-height: 53px !important;
}

.login-page .card .btn-wd {
    min-width: 180px;
}

.card .category,
.card .form-group>label {
    // font-size: 14px;
    font-weight: 400;
    color: #888888; // margin-bottom: 0px;
    letter-spacing: 1px;
}

.full-page .footer nav>ul a:not(.btn),
.full-page .footer,
.full-page .footer .copyright a {
    color: #FFFFFF;
    font-size: 14px;
}

.footer-transparent {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-color: transparent;
}

.full-page .footer .copyright {
    color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    color: #797979;
    padding: 10px 15px;
    margin: 10px 3px;
    line-height: 31px;
    font-size: 14px;
}

.pull-right {
    float: right!important;
}

.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    z-index: 1030;
}

.navbar-transparent {
    padding-top: 15px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.navbar {
    border: 0;
    font-size: 16px;
    border-radius: 0;
}

.navbar .navbar-brand {
    font-weight: 400;
    margin: 7px 0px;
    padding: 15px 15px;
    font-size: 20px;
}

.navbar-transparent .navbar-brand,
[class*="navbar-ct"] .navbar-brand {
    color: #FFFFFF;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

// //register page
// .register-page .header-text {
//     color: #FFFFFF;
//     text-align: center;
//    // padding: 75px 0 30px;
// }
// .register-page .media {
//     color: #FFFFFF;
//     margin-bottom: 45px;
// }
// .register-page .media .icon {
//     float: left;
//     margin-right: 5px;
// }
// .register-page .media i {
//     font-size: 36px;
// }
// .register-page .card .content {
//     padding-top: 0;
//     padding-bottom: 0;
// }
// .register-page .form-group {
//     margin-bottom: 25px;
// }
.forget-pwd {
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    color: #333333;
    font-weight: 300;
    letter-spacing: 1px;
}

.modal-backdrop {
    position: inherit;
}

.signup-content {
    padding-top: 10vh !important;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  95% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
//   body {
//     padding: 4em;
//     background: #e5e5e5;
//     font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
//   }
//   label {
//     display: block;
//   }
//   input {
//     border: 1px solid #c4c4c4;
//     border-radius: 5px;
//     background-color: #fff;
//     padding: 3px 5px;
//     box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
//     width: 190px;
//   }

.alert-dismissable .close, .alert-dismissible .close{
    position: inherit;
}

.alert-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

// th{
//     font-weight: 600;
//     font-size: 13px;
// }

.alert-dismissable .close, .alert-dismissible .close{
    right: 0px;
}

.err-msg{
    text-align: center;
    color: red;
    font-size: 14px;
    margin: 0px;
}

.obv-modal{
    margin: 0px;
    padding: 5px;
    border-bottom-style: inset;
}

.floatRight{
    float: right;
}

// .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
//     padding: 8px 8px !important;
//     font-size: 15px;
// }

.sidebar .logo .simple-text, .bootstrap-navbar .logo .simple-text{
    font-size: 22px;
    margin-top: 4px; 
    cursor: pointer;
}

.navbar .navbar-brand{
    font-weight: bold !important;
    font-size: 15px !important;
}

svg > g > g:last-child { pointer-events: none }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.modal-header{
    background: #A5D75A;
color: #fff;
}

.modal-title{
    float: left;
}

.googleChart {
    width: 100%; 
    min-height: 450px;
  }

  .pagination-list{
    text-align: center;
    font-size: 14px;
}