<!-- <div class="wrapper wrapper-full-page">
  <div class="full-page login-page" data-color="red" data-image="#">

  
      <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
          <div class="container">
              <div class="navbar-header">
                  <button class="navbar-toggle" data-target="#navigation-example-2" data-toggle="collapse" type="button">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" routerlinkactive="active" href="/dashboard">SEED SYSTEM UNIT</a>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                     
                      <li>
                          <a routerlinkactive="active" class="active"  [routerLink]="['Login']">
                              <i aria-hidden="true" class="fa fa-sign-in"></i>
                              <p>Login</p>
                          </a>
                      </li>
                      
                      
                  </ul>
              </div>
          </div>
      </nav>

      <div class="content">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                      <form  (ngSubmit)="doLogin()" >
                          <div class="card">
                              <div class="header text-center">Login</div>
                              <div class="content">
                                  <div class="form-group">
                                      <label>User Name</label>
                                      <input  class="form-control" placeholder="Enter Name" type="text">
                                  </div>
                                  <div class="form-group">
                                      <label>Password</label>
                                      <input  class="form-control"  placeholder="Password" type="password">
                                  </div>
                                 
                              </div>
                              <div class="footer text-center">
                                  <button class="btn btn-fill btn-danger btn-wd" type="submit" >Login</button>
                              </div>
                          </div>

                      </form>

                  </div>
              </div>
          </div>
      </div>

    <footer class="footer footer-transparent">
          <div class="container">
              <nav class="pull-left">
                  <ul>
                      <li>
                          <a href="#">
                              Home
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Company
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Portfolio
                          </a>
                      </li>
                      <li>
                          <a href="#">
                             Blog
                          </a>
                      </li>
                  </ul>
              </nav>
              <p class="copyright pull-right">
                  © 2018 <a href="https://www.creative-tim.com">Creative Tim</a>, made with love for a better web
              </p>
          </div>
      </footer>

  <div class="full-page-background" style="background-image: url(&quot;../../../assets/img/full-screen-image-1.jpg&quot;)"></div></div>  
</div> -->

dashboard