<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text" [routerLink]="['dashboard']">
            <div class="logo-img">
                <img src="/assets/img/logo.png" />
            </div>
            Seed System
        </a>
    </div>



    <ul class="nav responsive-nav">


        <!-- //in web view -->
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a (click)="hideSideMenu()" [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <li routerlinkactive="active" *ngIf="Role == 1">
            <a data-toggle="collapse" data-parent="#accordion" href="#Components" class="collapsed">
                <i class="fas fa-users"></i>
                <p>Users
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="Components" style="height: 0px;">
                <ul class="nav indentation">
                    <li routerLinkActive="active" *ngFor="let listItem of listItems" class="{{listItem.class}}">
                        <a (click)="hideSideMenu()" [routerLink]="[listItem.path]">
                            <i class="{{listItem.icon}}"></i>
                            <p>{{listItem.title}}</p>
                        </a>
                    </li>

                </ul>
            </div>
        </li>

        <li routerlinkactive="active" *ngIf="Role == 1">
            <a data-toggle="collapse" data-parent="#accordion" href="#locations" class="collapsed">
                <i class="fas fa-globe"></i>
                <p>Location
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="locations" style="height: 0px;">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let locationItem of locationItems" class="{{locationItem.class}}">
                        <a (click)="hideSideMenu()" [routerLink]="[locationItem.path]">
                            <i class="{{locationItem.icon}}"></i>
                            <p>{{locationItem.title}}</p>
                        </a>
                    </li>

                </ul>
            </div>
        </li>





        <li routerLinkActive="active" *ngFor="let teamleadItem of teamleadItems" class="{{teamleadItem.class}}">
            <a (click)="hideSideMenu()" [routerLink]="[teamleadItem.path]" *ngIf="Role == 2">
                <i class="{{teamleadItem.icon}}"></i>
                <p>{{teamleadItem.title}}</p>
            </a>
        </li>

        <li routerLinkActive="active" *ngFor="let psi of psiItems" class="{{psi.class}}">
            <a (click)="hideSideMenu()" [routerLink]="[psi.path]" *ngIf="Role == 3">
                <i class="{{psi.icon}}"></i>
                <p>{{psi.title}}</p>
            </a>
        </li>

        <li routerLinkActive="active" *ngFor="let grower of growerItems" class="{{grower.class}}">
            <a (click)="hideSideMenu()" [routerLink]="[grower.path]" *ngIf="Role == 4">
                <i class="{{grower.icon}}"></i>
                <p>{{grower.title}}</p>
            </a>
        </li>

        <li *ngIf="isMobileMenu()">
            <a (click)="hideSideMenu()" [routerLink]="['/user']">
                <span>
                    <i class="fas fa-user"></i>
                    <p> Profile</p>
                </span>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li *ngIf="isMobileMenu()">
            <a (click)="logOut()" href="">
                <span>
                    <i class="fas fa-power-off"></i>
                    <p> Sign out</p>
                </span>
            </a>
        </li>
    </ul>


    <!-- <div class="active-pro">
        <img style="width: 260px;background: #cce59d; position: absolute; bottom: 0px;"  src="/assets/img/download.png" />   
    </div> -->

    <!-- <div class="active-pro">
        <img style="width: 260px;background: #cce59d; position: absolute; bottom: 0px;"  src="/assets/img/download.png" />   
        <p style="width: 260px;margin-left: 9px; position: absolute; bottom: 0px;">Powered by <b>AheadRace Software</b></p>
    </div> -->

</div>