<div class="wrapper" *ngIf="ifLogin">
    <div class="sidebar" data-color="green" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <div>
            <footer-cmp></footer-cmp>
        </div>
    </div>
</div>



<div class="wrapper wrapper-full-page" *ngIf="!ifLogin">
    <div class="full-page login-page" data-color="green" data-image="#">

        <div class="content" *ngIf="!showSignup">
            <div class="container">
                        
                <div class="row">
                    <div class="col-md-4 col-sm-10 col-md-offset-4 col-sm-offset-1 ">
                        <form [formGroup]="signInForm" (ngSubmit)="doLogin()">
                            <div class="card">
                                <div class="header text-center" *ngIf="!showSignup">Sign in</div>
                                <div class="content">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input id="signin_username_txtb" class="form-control" placeholder="Enter Name" type="text" formControlName="userName">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input id="signin_password_txtb" class="form-control" placeholder="Password" type="password" formControlName="password">
                                    </div>
                                    <p class="err-msg" *ngIf="signInErrMsg">Invalid username/password</p>
                                </div>

                                <div class="text-center">

                                    <button class="btn btn-fill btn-success  btn-wd" type="submit" [disabled]="!signInForm.valid">Sign in</button>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6" data-toggle="modal" data-target="#exampleModalCenter">
                                        <h5 id="forgotPwd_link" class="forget-pwd">Forgot Password?</h5>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" (click)="showSignup = !showSignup">
                                        <h5 id="register_link" class="forget-pwd">Sign Up/Register</h5>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="content signup-content" *ngIf="showSignup">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
                            <app-signup [showSignup]="showSignup" (changee)="onPageChanges($event)" (signUpChange)="doSomething($event)"></app-signup>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-page-background" style="background-image: url(&quot;../../../assets/img/full-screen-image-1.jpg&quot;)"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="modal-title" id="exampleModalLongTitle">Account recovery</h5>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">User Name:</label>
                        <input type="text" class="form-control" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Email:</label>
                        <input type="email" class="form-control" placeholder="Enter Email">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="forgotPwd()" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>