<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Profile</h4>
                    </div>
                    <div class="content" >
                        <form  [formGroup]="form" *ngIf="userProfile">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="userProfile.FirstName" formControlName="firstname">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input type="text" class="form-control" placeholder="Middle Name"  [(ngModel)]="userProfile.MiddleName" formControlName="middlename">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="userProfile.LastName" formControlName="lastname">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Username (disabled)</label>
                                        <input type="text" class="form-control" disabled placeholder="Username" [(ngModel)]="userProfile.UserName"   formControlName="username">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mobile </label>
                                        <input type="tel" class="form-control" placeholder="Mobile Number"  [(ngModel)]="userProfile.MobileNumber"  formControlName="mobile">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="userProfile.Email"   formControlName="email">
                                    </div>
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>DISTRICT</label>
                                        <input type="text" class="form-control" placeholder="District" [(ngModel)]="userProfile.Address.District.DistrictName"  formControlName="districts">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>EPA</label>
                                        <input type="text" class="form-control" placeholder="Epa" [(ngModel)]="userProfile.Address.EPA.EPAName"  formControlName="epas">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>SECTION</label>
                                        <input type="text" class="form-control" placeholder="Section" [(ngModel)]="userProfile.Address.Section.SectionName"  formControlName="sections">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" placeholder="Country" [(ngModel)]="userProfile.Address.Country.CountryName" formControlName="countries">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" class="form-control" placeholder="State" [(ngModel)]="userProfile.Address.Section.SectionName" formControlName="states">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>REGION</label>
                                        <input type="text" class="form-control" placeholder="Region" [(ngModel)]="userProfile.Address.State.StateName" formControlName="regions">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="Home Address" [(ngModel)]="userProfile.Address.AddressLine1" formControlName="village">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="text" class="form-control" placeholder="ZIP Code" [(ngModel)]="userProfile.Address.PostalCode" formControlName="pobox">
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea rows="5" class="form-control" placeholder="Here can be your description" ></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right" disabled>Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a>
                                <img class="avatar border-gray" src="/assets/img/img_avatar.png" alt="..." />

                                <h4 class="title">{{userProfile?.FirstName}} {{userProfile?.LastName}}
                                    <br />
                                    <small>{{userProfile?.UserName}}</small>
                                </h4>
                            </a>
                        </div>
                        <!-- <p class="description text-center"> "Lamborghini Mercy
                            <br> Your chick she so thirsty
                            <br> I'm in that two seat Lambo"
                        </p> -->
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple">
                            <i class="fab fa-facebook-square"></i>
                        </button>
                        <button href="#" class="btn btn-simple">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button href="#" class="btn btn-simple">
                            <i class="fab fa-google-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>