<div class="main-content">
    <div class="container-fluid">
        <!-- <div id="loader" *ngIf="FilterdStats?.length == 0">
            <img src="assets/img/loader-preview.svg" alt="loading">
        </div> -->
     
        <div *ngIf="Role == 2">
            <div class="row">
                <div class="col-md-6">
                    <google-chart [data]="TlpieChartData"></google-chart>
                </div>
                <div class="col-md-6">
                    <google-chart [data]="TlDonutChartData"></google-chart>
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-8">                            
                    <google-chart [data]="TlBarChartData"></google-chart>
                </div>
            </div>

        </div>

        <div *ngIf="Role == 1">
            <div class="row">
                <div class="col-md-6">
                    <google-chart class="googleChart" [data]="AdminBarChartDataForDistrict"></google-chart>
                </div>

                <div class="col-md-6">
                    <google-chart class="googleChart" [data]="AdminpieChartData"></google-chart>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <google-chart class="googleChart" [data]="AdminBarChartData"></google-chart>
                </div>
            </div>
            <br>




        </div>

        <div *ngIf="Role == 3">
            <div class="row">
                <div class="col-md-12">
                    <google-chart [data]="PsiBarChartDataForDistrict"></google-chart>
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <google-chart [data]="PsiPieChartDataForDistrict"></google-chart>
                </div>
            </div>
        </div>




        <br>
        <br>
        <br>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Reports for 2017-2018 Growing Season</h4>

                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let grower of growersList">
                                        <td>{{grower.GrowerName}}</td>
                                        <td>{{grower.FarmAddress}}</td>
                                        <td>{{grower.PreviousCrop}}</td>
                                        <td>{{grower.CropGrown}}</td>
                                        <td>{{grower.Variety}}</td>
                                        <td>{{grower.Ha}}</td>
                                        <td>{{grower.ProjectedOutput}}</td>
                                        <td>{{grower.SeedIssued}}</td>
                                        <td>{{grower.Company}}</td>
                                        <td>{{grower.SeedSource}}</td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>