<div class="main-content">
    <div class="container-fluid">


      <div id="loader" *ngIf="newGrowers?.length == 0">
        <img src="assets/img/loader-preview.svg" alt="loading">
      </div>
  
      <div class="row" *ngIf="newGrowers?.length !== 0">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="title">Growers to be inspected</h4>
                </div>
                
              </div>
  
  
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                      <th>Grower Name
                      </th>
                    
                    <th >Inspector Name
                       
                    </th>
                    <th>Seed Class</th>
                    <th>Crop Name</th>
                    <th>Varient Name</th>
                    <th>Status</th>
                    <th style="cursor:pointer;" (click)="toogleArrow(arrow)">Assigned Date
                        <i class="fas fa-chevron-up" *ngIf="arrow"></i>
                        <i class="fas fa-chevron-down" *ngIf="!arrow"></i>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let grower of newGrowers | reverse:arrow:sortgrower  | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{grower.GrowerName}}</td>
                    <td>{{grower.InspectorName}}</td>
                    <td>{{grower?.ProductClass.ClassName}}</td>
                    <td>{{grower.ProductCategory.ProductCategoryName}}</td>
                    <td>{{grower.Product.ProductName}}</td>
                    <td>{{grower.Status}}</td>
                    <td>{{grower.CreatedAt | date:'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event" style="text-align: center;font-size: 18px;"></pagination-controls>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>

